.actionsBox{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
}
.actionsBox::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #b0aaaa;
    top: -15px;
    left: 0;
}
.actionBtn{
    color: #b0aaaa;
}