#todoHeader{
    font-size: 72px;
    color: #38293b;
    font-weight: 700;
    margin-bottom: 50px;
}
@media (min-width : 500px) and (max-width : 799px) {
    #todoHeader{
        font-size: 56px;
    }
}
@media (max-width : 499px) {
    #todoHeader{
        font-size: 42px;
    }
}
