.container {
    max-width: 870px;
    height: 100%;
    margin: 0 auto;
}
#TodoForm {
    width: 100%;
    background-color: #ffffff;
    height: auto;
}
.TodoFormInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 50px 35px;
    height: 100%;
}
#TodoItem {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1230px;
    margin: 100px auto;
    border-radius: 50px;
    overflow: hidden;
}
@media (min-width: 421px) and (max-width: 1300px) {
    #TodoItem {
        min-width: 0px;
        margin: 100px 50px;
    }
}
@media (max-width: 420px) {
    #TodoItem {
        min-width: 0px;
        margin: 100px 50px;
    }
}
